@{
    ViewBag.Title = "ReembolsoICMS";
}

<head>
    
    <meta charset="utf-8">
    <title>PROTESTE pelo seu reembolso de ICMS</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/global-calc.css">

    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- for minified version add this -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/fonts.min.css" />
    <link rel='shortcut icon' type='image/x-icon' href='~/Content/img/favicon.ico' />
    <link rel="icon" type="image/png" href="~/Content/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/Content/img/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="~/Content/img/favicon-128.png" sizes="128x128" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">


    <meta name="title" content="PROTESTE pelo seu reembolso de ICMS">
    <meta name="description" content="Não aceite que uma cobrança indevida te faça pagar mais caro na conta de luz! O alto ICMS cobrado pelos estados é indevido, pois inclui taxas que vão muito além do seu consumo de energia. E o resultado disso pesa somente no seu bolso!">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="PROTESTE pelo seu reembolso de ICMS">
    <meta name="twitter:description" content="Não aceite que uma cobrança indevida te faça pagar mais caro na conta de luz! O alto ICMS cobrado pelos estados é indevido, pois inclui taxas que vão muito além do seu consumo de energia. E o resultado disso pesa somente no seu bolso!">
    <meta name="twitter:image" content="https://www.proteste.org.br/-/media/proteste/images/company%20information/lcb/proteste%20pelo%20seu%20reembolso%20de%20icms/home2.jpg">


    <meta property="og:url" content="https://www.proteste.org.br/planodesaude" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="PROTESTE pelo seu reembolso de ICMS" />
    <meta property="og:description" content="Não aceite que uma cobrança indevida te faça pagar mais caro na conta de luz! O alto ICMS cobrado pelos estados é indevido, pois inclui taxas que vão muito além do seu consumo de energia. E o resultado disso pesa somente no seu bolso!" />
    <meta property="og:image" content="https://www.proteste.org.br/-/media/proteste/images/company%20information/lcb/proteste%20pelo%20seu%20reembolso%20de%20icms/home2.jpg" />
    <meta property="og:image:secure_url" content="https://www.proteste.org.br/-/media/proteste/images/company%20information/lcb/proteste%20pelo%20seu%20reembolso%20de%20icms/home2.jpg">


</head>

<body class="preload">
    <div class="cta-mobile">
        <span id="cta-mobile"><img src="~/Content/img/cta.png" alt=""></span>
    </div>
    <div id="modal">
        <div class="align-center">
            <div class="content">
                <div id="close">x</div>
                <p>Ao participar desta campanha, você receberá em seu e-mail notificações sobre as futuras ações que a PROTESTE lançar em defesa dos consumidores. Dessa maneira você se manterá informado sobre nossas lutas e poderá colaborar com a nossa missão de garantir que os direitos dos consumidores brasileiros sejam respeitados.</p>

                <p>Respeitamos e protegemos cuidadosamente a sua vida privada. Agradecemos a confiança que depositou na PROTESTE e garantimos que todos os dados fornecidos serão tratados com a máxima confidencialidade.</p>



                <h1>Responsabilidade pelo tratamento dos dados</h1>

                <p>Ao aceitar a presente Política de Privacidade, você autoriza que os dados pessoais informados sejam entregues a PROTESTE, que será responsável pela captação e tratamento dos seus dados para as finalidades aqui especificadas.</p>



                <h1>Finalidade da captação de dados</h1>

                <p>A captação de dados tem como objetivos: melhor auxiliá-lo, prestar informações no âmbito desta ação, além de divulgar nossa Associação e promover seus produtos e serviços, por meio do envio de mensagens de marketing.</p>



                <h1>Direito de acesso</h1>

                <p>É garantido ao titular dos dados o direito de acesso, atualização, retificação ou eliminação dos seus dados pessoais, a qualquer momento, bem como o direito de oposição à utilização dos dados concedidos para envio de comunicações informativas ou outros fins de marketing. Caso não tenha feito a opção durante o processo de cadastramento, pode fazê-la por escrito, enviando um e-mail para proteste@proteste.org.br.</p>



                <h1>Envio de comunicações não solicitadas para fins de marketing</h1>

                <p>Está sujeito a consentimento prévio e expresso do participante o envio de comunicações não solicitadas para fins de marketing, por meio da utilização de sistemas automatizados de chamada e comunicação que não dependam da intervenção humana (aparelhos de chamada automática, incluindo SMS (serviços de mensagens curtas), MMS (serviços de mensagem multimídia) e outras aplicações similares).</p>



                <p>Porém, mesmo que tenha dado o seu consentimento, pode sempre vir a exercer o seu direito de oposição nos termos descritos em "Direito de acesso" para que deixe de receber tais mensagens.</p>



                <p>Este envio, para fins de marketing, nunca ocultará ou dissimulará a identidade da pessoa em nome de quem é efetuada a comunicação e sempre informará um meio de contato válido para o descadastramento do recebimento das referidas comunicações.</p>
            </div>
        </div>
    </div>
    <div id="modal-success">
        <div class="align-center">
            <div class="content" id="thank-text">
                <div id="close-success">x</div>
                <div id="pixel"></div>
                <div id="calculo-thank">
                   <br><br>
                    <h1>Enviado com sucesso!</h1><br>
                    <a href="https://www.proteste.org.br/">Conheça nossos serviços</a>
                </div>
                <div id="cadastro-thank">
                    <h1>Obrigado!</h1>
                    <p>Entraremos em contato, de segunda a sexta, de <strong>9h às 18h</strong>.</p>
                    <a href="https://www.proteste.org.br/">Conheça nossos serviços</a>
                </div>

            </div>
        </div>
    </div>
    <div id="pagina">

        <div class="parallax-bg">
        </div>


        <header>
            <div class="content">
                <div id="logo"><a href="https://proteste.org.br" alt="Proteste! - Escolha diferente"><img src="~/Content/img/logo.png" alt="Proteste!"></a></div>
                <div id="social">
                    <span>Compartilhe</span>

                    <button class="share-facebook">
               <img src="~/Content/img/facebook.png" alt="Facebook">
              </button>

                    <button class="share-twitter">
                <img src="~/Content/img/twitter.png" alt="Twitter">
            </button>

                </div>
            </div>
        </header>
        <div id="conteudo">

            <section class="hero">
                <div class="texto">
                    <div class="title">
                        <h1 class="wow fadeInDown"><small>Reembolso do ICMS: </small><br/>uma luz na sua conta de energia.</h1>
                        <p class="wow fadeIn" data-wow-delay="0.25s">O alto ICMS cobrado em alguns estados na conta de energia é indevido. Use a <a href="#calculadora" id="nossa-calculadora">nossa calculadora</a> <span id="ao-lado">ao lado </span>e veja quanto você pode receber.</p>
                        <p class="wow fadeIn" data-wow-delay="0.25s">Se quiser saber mais sobre o assunto, preparamos um vídeo rápido e didático. Assista agora mesmo.</p>
                    </div>
                    <div class="video wow fadeIn" id="video" data-wow-delay="0.4s" data-wow-offset="-500">
                        <iframe width="100%" height="90%" src="https://www.youtube.com/embed/itlkXCZBmZ8?autoplay=1&rel=0&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="form desk closed" id="form">
                    <div id="close-form">x</div>
                    <div class="form-conteudo">
                    
                    <h2>Calculadora<br>da economia</h2>
                    <p>Preencha os dados e descubra o valor* do seu reembolso. Exemplo: uma pessoa com consumo médio<br><strong>de R$ 200,00 pode reaver até <br>R$ 750,00</strong>.
                    </p>
                    <form class="" action="" method="post" id="form-calculo" name="form_calculo">
                        <label for="gasto-mensal">Valor de<br> gasto mensal</label>
                        <input type="text" id="gasto-mensal" name="gasto_mensal" placeholder="R$" data-prefix="R$ " data-thousands="." data-decimal="," required>
                        <div id="gasto-erro"></div>
                        <label for="valor-gasto-mensal">Em qual<br> estado reside?</label>
                        <select id="estado" name="estado" required="required">
                        <option value=""></option>
                        <option value="1">Acre</option>
                        <option value="2">Alagoas</option>
                        <option value="3">Amapá</option>
                        <option value="4">Amazonas</option>
                        <option value="5">Bahia</option>
                        <option value="6">Ceará</option>
                        <option value="7">Distrito Federal</option>
                        <option value="8">Espírito Santo</option>
                        <option value="9">Goiás</option>
                        <option value="10">Maranhão</option>
                        <option value="11">Mato Grosso</option>
                        <option value="12">Mato Grosso do Sul</option>
                        <option value="13">Minas Gerais</option>
                        <option value="14">Pará</option>
                        <option value="15">Paraíba</option>
                        <option value="16">Paraná</option>
                        <option value="17">Pernambuco</option>
                        <option value="18">Piauí</option>
                        <option value="19">Rio de Janeiro</option>
                        <option value="20">Rio Grande do Norte</option>
                        <option value="21">Rio Grande do Sul</option>
                        <option value="22">Rondônia</option>
                        <option value="23">Roraima</option>
                        <option value="24">Santa Catarina</option>
                        <option value="25">São Paulo</option>
                        <option value="26">Sergipe</option>
                        <option value="27">Tocantins</option>
                    </select>
                        <label for="valor-gasto-mensal">Qual a empresa?</label>
                        <select id="empresa" name="empresa" disabled="disabled" required="required">
                    <option value=""></option>
                    </select>
                        <label for="valor-gasto-mensal">Seu e-mail</label>
                        <input type="email" name="email" required>
<!--                        <input type="hidden" name="Campanha" id="campanha" value="PULLACTION:MAIS-SAUDE-MENOS-AUMENTO-A">-->

                        <button type="submit" id="enviar-email">Enviar o valor por e-mail</button>
                    </form>
                    </div>
                </div>


            </section>
            <section class="second">
                <div class="content">
                    <div class="title">
                        <h1 class="alt">Saiba como reaver o seu dinheiro.</h1>
                    </div>
                    <div class="texto">
                        <p>Nossos especialistas estão prontos para receber o seu contato. Não perca tempo e ligue para:</p>
                        <p><strong><a style="color: #fff;" href="tel:08002822208">0800 282 2208</a></strong>
                            <p>Ou, se preferir, preencha seus dados que ligaremos para você.</p>
                    </div>
                    <div class="form-contato">

                        <form class="" action="" method="post" id="form-me-ligue" name="form_me_ligue">
                            <input type="text" name="nome_cadastro" id="nome_cadastro" placeholder="Nome" required="required">
                            <input type="email" name="email_cadastro" class="email" id="email_cadastro" placeholder="E-mail" required="required">
                            <input type="tel" name="telefone" class="celular tel" id="celular" placeholder="Telefone" required="required">
                            <input type="hidden" name="campanha" id="campanha" value="PULLACTION:MAIS-SAUDE-MENOS-AUMENTO-A">
                            <div class="horario">
                                <p>*Em qual horário que deseja receber a ligação</p>
                                <select name="horario">
                            <option value="">Selecione um horário</option>
                            <option value="9">9h</option>
                            <option value="10">10h</option>
                            <option value="11">11h</option>
                            <option value="12">12h</option>
                            <option value="13">13h</option>
                            <option value="14">14h</option>
                            <option value="15">15h</option>
                            <option value="16">16h</option>
                            <option value="17">17h</option>
                        </select>
                                <span class="obs">*apenas dias úteis</span>
                            </div>
                            <label class="horario-erro"></label>
                            <input type="checkbox" name="termos" id="termos">
                            <label for="termos">Eu li e aceito os <a href="#" id="vertermos">Termos e Condições.</a></label><label class="termos-erro"></label>
                           
                            <button type="submit" id="btn-submit-form-me-ligue">Me ligue</button>
                        </form>
                    </div>
                </div>
            </section>

        </div>
        <footer id="footer">
            <div class="contato">
                <p>Tem alguma dúvida? <a style="color: #fff;" href="tel:08002822208">Ligue para 0800 282 2208</a> das 9h às 18h</p>
                <p>Nos acompanhe nas redes sociais</p>
                <div id="social-footer">
                    <a href="https://www.facebook.com/associacao.proteste" target="_blank"><img src="~/Content/img/facebook.png" alt="Facebook"></a>
                    <a href="https://twitter.com/proteste" target="_blank"><img src="~/Content/img/twitter.png" alt="Twitter"></a>
                    <a href="https://www.youtube.com/user/Protestebrasil" target="_blank"><img src="~/Content/img/youtube.png" alt="Youtube"></a>
                </div>
            </div>
        </footer>
    </div>
    <!--scripts-->
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/main-calc.js"></script>
    <script src="~/Scripts/jquery.maskMoney.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>


</body>

</html>
